.activity-carousel-container {
  max-width: 700px; /* Made the container smaller */
  margin: 0 auto;
  padding: 8px; /* Reduced padding to remove extra whitespace */
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
}

.activity-carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 2px; /* Reduced margin to minimize space */
  padding: 4px 0; /* Reduced padding to make it more compact */
}

.activity-carousel-button {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #2a9d8f;
  transition: color 0.3s;
}

.activity-carousel-button:hover {
  color: lightblue;
  background-color: transparent;
}

.activity-carousel-button:focus {
  outline: none;
}
